*{
    text-align:center;
}
#maintopic{
    color:blue;
}
h1,
h2,
h5{
    font-family:georgia;
}
.content{
    background-color:cornflowerblue;
    color:white;
}
div button{
    background-color: purple;
    color:azure;
}
button :hover{
    background-color: yellow;
    color:blue;
}
.post:nth-of-type(2n):nth-of-type(2n){
    color:yellow;
}
h1::first-letter{
    color:red;
}
input[type="radio"]:checked+label{
color:darkgreen;
}